/* Foto de perfil */
.perfil{
    background-image: url("../images/perfil/ed.jpeg");
}
/* Tamanho das imagens para celulares */
/* 234x217 */
.post1{
    background-image: url("../images/post/post1.jpg");
}
.post2{
    background-image: url("../images/post/post2.jpg");
}
.post3{
    background-image: url("../images/post/post3.png");
}